# Flutter
build/
.dart_tool/
.packages
.pub/
.pub-cache/

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Rust
rKazumi-core/target/

# Android
android/app/src/main/jniLibs/arm64-v8a/.gitkeep

# Misc
*.log
*.apk